@model IEnumerable<MVC_Adminlte.Models.hospital>

@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="hospitals" asp-action="Edit" asp-for="" asp-route-id="@item.h_id">Edit</a> |
                    <a asp-action="Details" asp-controller="hospitals" asp-action="Details" asp-for="" asp-route-id="@item.h_id">Details</a> |
                    <a asp-action="Delete" asp-controller="hospitals" asp-action="Delete" asp-for="" asp-route-id="@item.h_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
